body{
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #4e73df, #1cc88a);
}

h2{
    color: white;
}

form{
    background: white;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
    border-radius: 10px;
}

input, select{
    margin: 5px;
    padding: 8px;
    width: 90%;
}

button{
    padding: 10px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
